#hero {

    height: 800px;
    background-image: url('/images/places/ocean.jpg');
    background-position: center;
    background-size: cover;

}


#content {

    border: 1px solid black;
    width: 900px;
    text-align: center;
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 200px;
}


#content h1 {

    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 50px;
    font-family: 'Raleway' sans-serif;
    margin: 0;

}


#content p {
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 35px;
}


#content a{

background-color:  rgb(255, 251, 0);
border-radius: 10px;
font-size: 24px;
padding: 12px 24px;
text-decoration: none;
color: rgb(0, 0, 0);
font-weight: bold;

}

#content a:hover{

background-color: rgb(224, 222, 113);


}


.destination img {


height: 300px;
margin: 0 30px;
box-shadow: 2px 4px 8px rgb(68, 67, 67);
border-radius: 10px;
object-fit: cover;


}

#destinations{


    display: flex;
    align-items: center;
    justify-content: center;
     
  
    
    

}

.destination p {


    text-align: center;
    text-transform: capitalize;
    
    color: rgb(127, 123, 123);
    font-size: 24px;
}


.destination strong {

color: rgb(35, 156, 183);

}


#second-h2{

text-align: center;
font-size: 30px;
color: rgb(113, 104, 104);


}

#highlight {


    padding: 24px;
    background:linear-gradient(45deg,rgb(227,255,253),rgb(202, 243, 240));
}
 



